/*
 * Base structure
 */

 /* Move down content because we have a fixed navbar that is 50px tall */
 body {
  padding-top: 50px;
  background-color: #f1c40f;
}

p{
  color: #ffffff;
}

a:hover {
  color: #6414A2;
}
h1,h2,h3,h4,h5,h6{
  color: #ffffff;
  margin: 10px;
  padding: 0;
  font-weight: bold;
}

#glif{
  color: #222222;
  margin-right: 10px
}


/*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

 /* Hide for mobile, show later */
 .sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
   position: fixed;
   top: 51px;
   bottom: 0;
   left: 0;
   z-index: 1000;
   display: block;

   padding: 20px;
   overflow-x: hidden;
   overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
   background-color: #222222;
   border-right: 1px solid #eee;
 }
}


.sidebar ul > li > a:hover {
  background-color: #6414A2;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #bdc3c7;
}


.nav-sidebar > .active > a {
  color: #fff;
  background-color: #6414A2;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;    
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

/*
 * Main content
 */

 .main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.container{
 margin-left: auto;
 margin-right: auto;
 width: 60%;
 margin-top: 40px;
 margin-bottom: 40px;
 padding: 20px;
 background-color: #222222;


 border:2px solid;
 border-radius:25px;

 /*box-shadow: 2px 2px 5px #000000;*/
}

.container label{
  color: #ffffff;
}

#precio{
  width: 30%;
}

#imagen{
 margin-top: 20px;
}

#bpublicar{
  display: block;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 15px;
  width: 40%;
  
}

.datos{
  font-size: 18px;
}


.mailForm span{
  margin-left: 10px; 
  font-size: 12px;
  font-weight: bold;
  color: #DC143C;
}

.btn-custom {
  color: #fff;
  background-color: #6414A2;
  border-color: #6414A2;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-color: #56118b;
  border-color: #480e75;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {

  background-color: #6414A2;
  border-color: #6414A2;

}

#mensajeRegistro{
  margin-top: 20%;
  text-align: center;
}

#mensajeRegistro p {

}

.form-group{
  margin-right: 8px;
}

#producto {
  height: 290px;

}

#producto img {
    display: block;
    max-width:270px;
    max-height:200px;
    width: auto;
    height: auto;

}

@media (max-width:  992px) {
  #producto {
    height: 80%;

  }

}